resources/odd/editions.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="teipublisher_odds.xsd"?><TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en"><teiHeader><fileDesc>
            <titleStmt><title>MAJLIS Editions</title></titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref></p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc><encodingDesc><tagsDecl><rendition source="editions.css"/></tagsDecl></encodingDesc><revisionDesc>
            <change when="2026-01-13+02:00">Initial version</change>
        </revisionDesc></teiHeader><text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="editions" source="teipublisher.odd"> <elementSpec ident="app" mode="add"><model behaviour="inline">
            <param name="lem" value="/lem"/>
            <param name="rdg" value="/rdg"/>
            <param name="wit" value="/rdg/@wit"/>
            <pb:template xmlns="" xml:space="preserve"><pb-popover theme="material">
            <span slot="default">[[lem]]</span>
            <template slot="alternate">
                 [[rdg]] [ [[wit]]</template></pb-popover></pb:template>
            <outputRendition xml:space="preserve">
            background-color: #00c353;
            </outputRendition>
        </model></elementSpec><elementSpec ident="div" mode="change"><model predicate="@n='2'" behaviour="webcomponent">
            <param name="key" value="translate(head, '.', '')"/>
            <param name="name" value="'pb-highlight'"/>
            <param name="content" value="."/>
            <param name="highlight-self" value="'highlight-self'"/>
        </model><model predicate="$parameters?view='notes'" behaviour="inline">
            <param name="content" value="//note[@type='comment']"/>
        </model><model predicate="$parameters?view='hebrew'" behaviour="inline" cssClass="hebrew"/><model output="web" predicate="$parameters?view='arabic'" behaviour="block" cssClass="arabic"/><model predicate="@type='title_page'" behaviour="block">
            <outputRendition xml:space="preserve">
            border: 1px solid black; padding: 5px;
            </outputRendition>
        </model><model predicate="parent::body or parent::front or parent::back" behaviour="section"/><model behaviour="block">
            <outputRendition xml:space="preserve">
            
            </outputRendition>
        </model></elementSpec><elementSpec ident="title" mode="change"><model predicate="$parameters?header='edition'" behaviour="inline"/><model predicate="$parameters?header='short'" behaviour="heading"/><modelSequence predicate="parent::titleStmt/parent::fileDesc">
            <model predicate="preceding-sibling::title" behaviour="text">
                <param name="content" value="' — '"/>
            </model>
            <model behaviour="inline"/>
        </modelSequence><model predicate="not(@level) and parent::bibl" behaviour="inline"/><modelSequence predicate="@level='m' or not(@level)">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="ancestor::biblFull" behaviour="text">
                <param name="content" value="', '"/>
            </model>
        </modelSequence><modelSequence predicate="@level='s' or @level='j'">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="following-sibling::* and     (  ancestor::biblFull)" behaviour="text">
                <param name="content" value="', '"/>
            </model>
        </modelSequence><modelSequence predicate="@level='u' or @level='a'">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="following-sibling::* and     (    ancestor::biblFull)" behaviour="text">
                <param name="content" value="'. '"/>
            </model>
        </modelSequence><model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model></elementSpec><elementSpec ident="titleStmt" mode="change"><model predicate="$parameters?header='citation'" behaviour="inline">
            <param name="title" value="concat(title[1], ' ', concat('by ', author))"/>
            <param name="date" value="format-date(current-date(),&#34;[D] [Mn] [Y]&#34;, &#34;en&#34;, (), ())"/>
            <param name="uri" value="$parameters?doc"/>
            <pb:template xmlns="" xml:space="preserve"><emph>[[title]]</emph>. In Digital Handbook of Jewish Authors Writing in Arabic, edited by Ronny Vollandt et. al. Accessed [[date]], https://jalit.org/text/[[uri]]</pb:template>
        </model><model output="latex" behaviour="meta">
            <param name="content" value="."/>
        </model><model output="fo" behaviour="heading"/><model predicate="$parameters?mode='title'" behaviour="heading">
            <param name="content" value="title[not(@type)]"/>
            <param name="level" value="5"/>
        </model><model output="web" predicate="$parameters?header='edition'" behaviour="heading">
            <param name="level" value="3"/>
            <param name="title" value="title[1]"/>
            <param name="author" value="concat('by ', author)"/>
            <pb:template xmlns="" xml:space="preserve">[[title]] [[author]]</pb:template>
        </model><modelSequence output="web" predicate="$parameters?header='short'">
            <model behaviour="inline">
                <param name="title" value="title[1]"/>
                <param name="author" value="author"/>
                <param name="uri" value="$parameters?doc"/>
                <pb:template xmlns="" xml:space="preserve"><a href="[[uri]]" target="">
  <h1>[[title]]</h1>
  <h2>[[author]]</h2>
</a></pb:template>
            </model>
            <model output="print" behaviour="link">
                <param name="content" value="title[1]"/>
                <param name="uri" value="$parameters?doc"/>
            </model>
            <model output="print" behaviour="heading">
                <param name="content" value="author"/>
                <param name="level" value="2"/>
            </model>
        </modelSequence><model output="web" behaviour="block"/></elementSpec><elementSpec ident="listWit" mode="add"><model behaviour="list"/></elementSpec><elementSpec ident="note" mode="change"><model predicate="$parameters?view='notes'" behaviour="listItem">
            <param name="n" value="@n"/>
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            font-size: .85em;
background-color: #C0C0C0;
padding: 0 .25em;
border-right: 1px solid black;
text-indent: 0;
margin: 0 .25em;
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model><model behaviour="note">
            <param name="place" value="@place"/>
            <param name="label" value="@n"/>
        </model></elementSpec><elementSpec ident="teiHeader" mode="change"><model predicate="$parameters?view='metadata'" behaviour="block">
            <param name="content" value=".//sourceDesc/listWit"/>
        </model><model output="latex" behaviour="metadata"/><model output="fo" behaviour="omit"/><model output="web" predicate="$parameters?header='edition'" behaviour="block"/><model output="web" predicate="$parameters?header='short'" behaviour="block"/><model output="web" behaviour="metadata"/></elementSpec><elementSpec ident="pb" mode="change"><model predicate="@facs" behaviour="webcomponent">
            <desc>Use the url from the facs attribute to link with IIIF image - resources/scans/</desc>
            <param name="name" value="'pb-facs-link'"/>
            <param name="facs" value="let $surfaceId := substring-after(@facs, '#') let $surface := doc(base-uri($parameters?root))//surface[@xml:id = $surfaceId] let $url := $surface/graphic/@url return concat('', $url)"/>
            <param name="label" value="@n"/>
            <param name="emit" value="'transcription'"/>
            <param name="content" value="@f || '' || @n"/>
            <outputRendition xml:space="preserve">
            
            
            font-size: .85em;
background-color: #C0C0C0;
border-left: 1px solid black;
border-right: 1px solid black;
padding: 0 1em;
            
            
            </outputRendition>
        </model><model predicate="starts-with(@facs, 'iiif:')" behaviour="webcomponent">
            <desc>If facs attribute starts with iiif prefix, use the trailing part as a link to the IIIF image</desc>
            <param name="name" value="'pb-facs-link'"/>
            <param name="facs" value="replace(@facs, '^iiif:(.*)$', '$1')"/>
            <param name="label" value="'Page'"/>
            <param name="emit" value="'transcription'"/>
        </model><model output="web" behaviour="break" useSourceRendition="true">
            <param name="type" value="'page'"/>
            <param name="label" value="(concat(if(@n) then concat(@n,' ') else '',if(@facs) then                   concat('@',@facs) else ''))"/>
            <outputRendition xml:space="preserve">
            display: block; margin-left: 4pt; color: grey; float: right;
            </outputRendition>
            <outputRendition xml:space="preserve" scope="before">
            content: '|';
            </outputRendition>
            <outputRendition xml:space="preserve" scope="after">
            content: '|';
            </outputRendition>
        </model></elementSpec><elementSpec ident="wit" mode="add"/><elementSpec ident="witness" mode="add"><model behaviour="listItem"/></elementSpec><elementSpec ident="fileDesc" mode="change"><modelSequence predicate="$parameters?header='short' or $parameters?header='edition'">
            <model behaviour="block" cssClass="header-short">
                <param name="content" value="titleStmt"/>
            </model>
            <model behaviour="block" cssClass="header-short">
                <param name="content" value="editionStmt"/>
            </model>
            <model behaviour="block" cssClass="header-short">
                <param name="content" value="publicationStmt"/>
            </model>
            <model behaviour="block" cssClass="sample-description">
                <desc>Output abstract containing demo description</desc>
                <param name="content" value="../profileDesc/abstract"/>
            </model>
        </modelSequence><model behaviour="title">
            <param name="content" value="titleStmt"/>
        </model></elementSpec><elementSpec ident="ab" mode="change"><model behaviour="omit"/></elementSpec><elementSpec ident="lb" mode="change"><model predicate="$parameters?view='arab'" behaviour="break">
            <param name="type" value="line"/>
        </model><model behaviour="break" useSourceRendition="true">
            <param name="type" value="'line'"/>
            <param name="label" value="@n"/>
        </model></elementSpec><elementSpec ident="p" mode="change"><model output="print" predicate="ancestor::note" behaviour="inline"/><model predicate="$parameters?view='diplo'" behaviour="inline" cssClass="diplomatic">
            <outputRendition xml:space="preserve">
            color: red;
            </outputRendition>
            <outputRendition xml:space="preserve">
            text-align: justify;
            </outputRendition>
            <outputRendition xml:space="preserve">
            display: inline-block;
            </outputRendition>
        </model><model behaviour="paragraph" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            text-align: justify;
            </outputRendition>
        </model></elementSpec><elementSpec ident="head" mode="change"><model predicate="$parameters?header='short'" behaviour="inline">
            <param name="content" value="replace(string-join(.//text()[not(parent::ref)]), '^(.*?)[^\w]*$', '$1')"/>
        </model><model predicate="parent::figure" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model><model predicate="parent::table" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model><model predicate="parent::lg" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model><model predicate="parent::list" behaviour="block">
            <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
        </model><model predicate="parent::div" behaviour="heading">
            <param name="level" value="count(ancestor::div)"/>
            <outputRendition xml:space="preserve">
            direction: ltr;
            </outputRendition>
        </model><model behaviour="block"/></elementSpec><elementSpec ident="foreign" mode="change"><model predicate="xml:lang='ar'" behaviour="inline" cssClass="arabic"/><model predicate="xml:lang='he'" behaviour="inline" cssClass="hebrew"/><model behaviour="inline"/></elementSpec></schemaSpec>
        </body>
    </text></TEI>